---
import { type Languages, useTranslation } from '../i18n';

interface Props {
  locale: Languages;
}

const { locale } = Astro.props;
const t = useTranslation(locale);
---

<nav>
  <a href={`/${locale}`}>{t.navBar.home}</a>
  <a href={`/${locale}/about`}>{t.navBar.about}</a>
  <a href={`/${locale}/blog`}>{t.navBar.blog}</a>
</nav>
