---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import { LOCALES } from '../../../constants';
import MainLayout from '../../../layouts/MainLayout.astro';

export function getStaticPaths() {
  return LOCALES.map(locale => ({ params: { locale } }));
}

const { locale } = Astro.params;

const posts = await getCollection('blog', data => data.id.startsWith(locale));
---

<MainLayout locale={locale}>
  <ul>
    {
      posts.map(post => {
        const [_, slug] = post.slug.split('/');

        return (
          <li>
            <a href={`/${locale}/blog/${slug}`}>
              <h4>{post.data.title}</h4>
              <p>{post.data.pubDate}</p>
              <Image width={300} height={200} src={post.data.heroImage} alt='' />
            </a>
          </li>
        );
      })
    }
  </ul>
</MainLayout>
